.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.navbar-dark {
  background-color: #512DA8;
}

.page-enter {
  opacity: 0.01;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 300ms ease-in;
}

.page-exit {
  opacity: 1;
  transform: translateX(0%);
}

.page-exit-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: all 300ms ease-out;
}

.container {
  width: 75%;
  margin: 0 auto;
}

.bold {
  font-weight: bold;
}

.user-info {
  margin: 40px 0;
}


.user-details {
  display: flex;
}

.user-details > * {
  flex: 0 0 50%;
}

.bill {
  padding: 16px;
  margin: 8px
}

.bill-details {
  border-bottom: 1px solid #cccccc;

}

.btns-div {
  display: flex;
  justify-content: space-between;
  margin-right: 16px
}