[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[dev-packages]
pylint = "*"
yapf = "*"

[packages]
django = "*"
dj-database-url = "*"
djangorestframework = "*"
dj-database-url = "*"
psycopg2 = "*"
whitenoise = "*"
gunicorn = "*"
whitenoise = "*"

[requires]
python_version = "3.5.3"